@model CustomersAJAX.Models.Customer

<h3>Customer Details</h3>
@Html.DisplayNameFor(m => Model.Name): @Html.DisplayFor(m => Model.Name)
<br />
@Html.DisplayNameFor(m => Model.Age): @Html.DisplayFor(m => Model.Age)
<br />
<p>Updated at @DateTime.Now</p>
